<!-- biolerplate code will be added by using this below line -->
<% layout("/layouts/biolerplate") %>

<body>
    
       
    </form>
    <ul>
    <h3>All listings:</h3>
    <!-- <form action="/listings/new" method="GET"> 
        <button>Create New Listings</button></BR>
    </form> -->
   <% for(let listings of allListings){ %>
       <li><a href="/listings/<%=listings._id%>"><%=listings.title%></a></li> 
    <%}%>
</ul>
</body>
